<div class="jumbotron">
    <h1>Inventar</h1>
    <p class="lead">Inventar helps small companies manage and support their material possessions.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create your account and see your personal items. <br />
            Items are added by support administrators. <br />
            Regular users can view and report for issues with their items - failures, damages and need for replacement of an item.
        </p>
        <p><a class="btn btn-default" href="/Items">See your current items &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Support section</h2>
        <p>If you are a support person, you can view all items and issues reported from regular users. Then you can change status based on what is done with the item. You can repair, change item possession and can remove items too.</p>
        <p><a class="btn btn-default" href="/Support">Here is the support page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Admin console</h2>
        <p>This is a secton for web admins. If you are an admin you have an easy way to access database with appl information about items, issues and user accounts and support them.</p>
        <p><a class="btn btn-default" href="/Admin">Admin section &raquo;</a></p>
    </div>
</div>