@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Inventar helps small companies manage and support their material possessions.</p>
<p>More description and documentation will be added later...</p>
